
body {
    background-image: url('../static/images/polygons.png');
    background-color: coral;
}
.grid-container {
    display:grid;

    margin:auto;
    padding:35px;
    width:50%;
    background-color: white;
    border-radius: 25px;
}

h1 {
    font: 70px 'Permanent Marker';
    color:white;
    text-align: center;
    margin:10px;
}

h2 {

}

.nav-menu ul {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;
    overflow: hidden;
}

.nav-menu li{
    float: left;
    background-color: black;
}

.nav-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-right:20px;
    text-decoration: none;
    font-size:20px;
}

.nav-menu li a:hover{
    background-color: red;
    color:white;
}

form {

    align-items: center;
}

form input {
    margin-bottom: 15px;
}

form input[type=radio] + label {
    background-color: blue;
    color:white;
    font: 25px 'Blinker';
    padding:15px;
    margin:10px;
}

form input[type=radio]:checked + label {
background-color: purple;
border:5px solid black;
}

form input[type=submit] {
    background-color: red;
    color:white;
    font: 25px 'Permanent Marker';
    padding:15px;
    margin:10px;
}

form input[type=submit]:hover {
    color:yellow;
}

.results-table{
    width:100%;
    text-align:center;
    padding:15px;
    border:2px solid black;
}

.results-table th{
font-size:30px;
background-color: red;
color:white;
}

.results-table td{
    font-size:30px; 
    padding:15px;
}

.play-again{
    width:65%;
    text-align: center;
    background-color: green;
    margin:auto;
    margin-top:20px;
    padding:15px;
}

.play-again a{
    color:white;
    font-size: 30px;
}

.play-again a:hover{
    color:yellow;
}