{% extends "base.html" %}

{% block content %}

<h2>The Rules of Rock Paper Scissors</h2>

<p>Although the game has a lot of complexity to it, the rules to play it are pretty simple.</p>
<p>The game is played where players deliver hand signals that will represent the elements of the game; rock, paper and scissors. </p>

<p>The outcome of the game is determined by 3 simple rules:</p>

<ul>
    <li>Rock wins against scissors</li>
    <li>Scissors win against paper</li>
    <li>Paper wins against rock</li>
</ul>
{% endblock %}